@font-face {
  font-family: 'source-sans-pro';
  src: url('@/assets/styles/fonts/source-sans-pro.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans-pro-bold';
  src: url('@/assets/styles/fonts/source-sans-pro.bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans-pro-extra-light';
  src: url('@/assets/styles/fonts/source-sans-pro.extralight.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans-pro-light';
  src: url('@/assets/styles/fonts/source-sans-pro.light.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans-pro-semibold';
  src: url('@/assets/styles/fonts/source-sans-pro.semibold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}